- content_for :title do
  New invoice

= error_messages_for :invoice

= form_for [@client, @invoice] do |f|
  = render :partial => 'form', :object => f

= link_to 'Cancel', invoices_path(@client), :class=>"button left"


