.calendar
  .monthName
    font: 15pt bold "Times New Roman", "Times", serif
    color: #641716

  .otherMonth
    visibility: hidden

  td
    font: 10pt "Times New Roman", "Times", serif
    text-indent: 4px
    color: #B48C8B
    width: 90px
    height: 90px
    background-color: white
    border: thin solid #B48C8B
    vertical-align: top

  .dayName
    font: 9pt "Tahoma", "Geneva", sans-serif
    color: #B48C8B

  .today
    background-color: transparent
