body {
	margin: 0;
	padding: 0;
	/*background: #000000 url(/images/img01.jpg) repeat-x top center;*/
	background-color: black;
	font-size: 13px;
	color: #8C8C8C;
}

body, th, td, input, textarea, select, option {
	text-transform: lowercase;
	font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #F8FBEC;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a { color: #FF781F; text-decoration: none; background: transparent url('/images/underline1.png') repeat-x center bottom; }
a:hover { background: transparent url('/images/underline2.png') repeat-x center bottom; }

#wrapper { min-width: 900px; }

#flash_notice {
  color: green;
}

#flash_error {
  color: red;
}

.red {
  color: red;
}

.clear {
  clear: both;
}

/* Header */

#header_container {
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

#header {
	width: 760px;
	padding: 20px 0;
	margin: 0 auto;
	position: relative;
}

#header h1 a, #header p {
	margin: 0;
	color: black;
	text-decoration: none; 
	background: none; 
}

#header h1 { margin: 0; padding: 0;}

#header h1 a { color: black; }

#header p {
	margin-top: -10px;
}
#header a { color: #FF781F; }



#header span { color: black; }

#login {
  float: right;
  margin: 50px 0 0 0px;
  text-align: right;
}

#ampersand { background: transparent url('/images/ampersand.png') no-repeat; 
  display: block; position: absolute; top: 20px; left: -77px; width: 89px; height: 74px;}

/* breadcrumbs */

#breadcrumbs_container { width: 100%; background-color: #FF781F; }
#breadcrumbs { display: block; width: 820px; height:32px; margin: 0 auto; }

#breadcrumbs h2 { margin: 0; color: #B65616; }

/* Page */

#page {
  float: left;
  display: block;

}

/* Content */

#all_content_container { width: 100%; }
#all_content {display: block; margin: 0 auto; width: 820px;}

#content { width: 600px; }

.post { padding: 0 0 20px 0; }

.title {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #B7D24D;
}

.byline {
	margin: 0;
	color: #646464;
}

.meta {
	text-align: left;
	color: #646464;
	padding: 10px 10px;
	height: 48px;
	background: url(/images/img06.gif) no-repeat left top;
}

.meta .more {
	padding-left: 20px;
}

.meta .comments {
	padding-left: 20px;
}

.meta a {
	color: #003300;
}

/* Sidebar */

#sidebar { float: left;
	display: block;
	width: 200px;
	padding: 0 0 0 20px;
	margin: 0;
}

#sidebar ul {
	margin: 0 0 0 25px;
	padding: 0;
	list-style: hiragana;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding: 15px 15px;
}

#sidebar li li {
	border-bottom: 1px dotted #000000;
	padding-left: 15px;
}

#sidebar h2 {
	margin: 0;
	padding: 10px 0 0 0;
	height: 40px;
	/*background: url(/images/img04.gif) no-repeat left 60%;*/
}


/* Footer */

#footer_container { width: 100%;}

#footer {
	clear: both;
	width: 760px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	/*background: url(/images/img05.gif) no-repeat left top;*/
	text-align: center;
	font-size: smaller;
	color: grey;
}

#footer a {
	color: #003300;
}

/* Line Items */

tr.line_item_over {
  background-color: white;
}

tr.line_item_selected {
  background-color: blue;
}

.total {
  text-align: right;
  font-weight: bold;
}

/* Invoices */

.invoice {
  margin: 10px 0 10px 0;
  padding: 5px;
  color: white;
}

.invoice.unbilled {
  background-color: yellow
}

.invoice.paid {
  background-color: green;
}

.invoice.unpaid {
  background-color: red;
}

.invoice h2 {
	margin: 0;
	padding: 10px 0 0 40px;
	height: 40px;
	background: url(/images/img04.gif) no-repeat left 60%;
	float: left;
}

.invoice ul {
  float: right;
}
