- content_for :title do
  Listing users

%h2 Listing users
%ul
  - @users.each do |user|
    %li{ :style => "background-color: \##{user.color}" }
      %div= link_to h(user.name), edit_user_path(user)
      %div= number_to_per_hour user.rate

= link_to '+add user', new_user_path
