- content_for :title do
  users &raquo; all

%h2 users &raquo; all
%ul
  - @users.each do |user|
    %li.user
      = link_to h(user.name), edit_user_path(user), :style => "color: \##{user.color}"
      %span= number_to_per_hour user.rate

.add= link_to '+add user', new_user_path, :class=>"button right clear"
