- content_for :title do
  All Clients

%table#clients{:width => "100%"}
  %col{ :width => '35%' }
  %col{ :width => '35%' }
  %col{ :width => '15%' }
  %col{ :width => '15%' }
  %tr
    %th name
    %th balance
  - for client in @clients
    %tr{:class => cycle('even','')}
      %td= link_to h(client.name) , invoices_path(client)
      %td{ :align => 'center' }= number_to_currency client.balance
      %td{ :align => 'center' }= link_to 'Edit', edit_client_path(client), :class=>"button"
      %td{ :align => 'center' }= link_to 'Delete', client, :confirm => 'Are you sure?', :method => :delete, :class=>"button"

      
